
USE [master]
GO

CREATE DATABASE [tes]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tes]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[author_id] [int] IDENTITY(1,1) NOT NULL,
	[author_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAcquisitionRequests]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAcquisitionRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_date] [datetime] NULL,
	[author] [nvarchar](255) NULL,
	[decision_note] [varchar](500) NULL,
	[processed_date] [datetime2](6) NULL,
	[publication_year] [int] NULL,
	[publisher] [varchar](255) NULL,
	[reference_url] [varchar](500) NULL,
	[request_reason] [nvarchar](1000) NULL,
	[status] [nvarchar](20) NULL,
	[isbn] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[book_id] [int] NOT NULL,
	[author_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC,
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookDisposals]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookDisposals](
	[disposal_id] [int] IDENTITY(1,1) NOT NULL,
	[book_item_id] [int] NULL,
	[staff_id] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[disposal_date] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[disposal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookItems]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookItems](
	[book_item_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NULL,
	[shelf_id] [int] NULL,
	[barcode] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[book_condition] [nvarchar](50) NULL,
	[damage_note] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[genre_id] [int] NULL,
	[title] [nvarchar](255) NULL,
	[isbn] [varchar](20) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
	[cover_image_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowDetails]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowDetails](
	[borrow_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NULL,
	[book_id] [int] NULL,
	[book_item_id] [int] NULL,
	[due_date] [datetime] NOT NULL,
	[return_date] [datetime] NULL,
	[renew_count] [int] NULL,
	[status] [varchar](50) NULL,
	[condition_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrows]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrows](
	[borrow_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[staff_id] [int] NULL,
	[borrow_date] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[borrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[member_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[book_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
	[status] [varchar](255) NULL,
	[librarian_response] [nvarchar](max) NULL,
	[response_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[genre_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Account_Roles]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Account_Roles](
	[member_account_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member_Accounts]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberNotifications]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberNotifications](
	[member_id] [int] NOT NULL,
	[notification_id] [int] NOT NULL,
	[is_read] [bit] NULL,
	[read_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC,
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[tier_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipTiers]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipTiers](
	[tier_id] [int] IDENTITY(1,1) NOT NULL,
	[tier_name] [nvarchar](100) NOT NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[borrow_limit] [int] NULL,
	[condition] [decimal](18, 2) NULL,
	[benefits] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[tier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
	[status] [varchar](50) NULL,
	[notification_type] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[reset_token_id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](36) NOT NULL,
	[user_id] [int] NOT NULL,
	[expiry_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reset_token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayOSPaymentAuditLogs]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOSPaymentAuditLogs](
	[audit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[event_type] [varchar](50) NOT NULL,
	[message] [nvarchar](max) NULL,
	[new_status] [varchar](30) NULL,
	[old_status] [varchar](30) NULL,
	[source] [varchar](30) NOT NULL,
	[successful] [bit] NOT NULL,
	[actor_user_id] [int] NULL,
	[payment_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayOSPaymentFineItems]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOSPaymentFineItems](
	[item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NOT NULL,
	[fine_transaction_id] [int] NOT NULL,
	[amount_snapshot] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayOSPayments]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOSPayments](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[transaction_id] [int] NULL,
	[purpose] [varchar](30) NOT NULL,
	[reference_id] [int] NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[order_code] [bigint] NOT NULL,
	[payment_link_id] [varchar](100) NULL,
	[checkout_url] [varchar](1000) NULL,
	[qr_code] [nvarchar](max) NULL,
	[status] [varchar](30) NOT NULL,
	[bank_reference] [varchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[paid_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayOSReconciliationIssues]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOSReconciliationIssues](
	[issue_id] [bigint] IDENTITY(1,1) NOT NULL,
	[attempt_count] [int] NOT NULL,
	[error_message] [nvarchar](max) NULL,
	[first_seen_at] [datetime2](6) NOT NULL,
	[last_attempt_at] [datetime2](6) NOT NULL,
	[resolved_at] [datetime2](6) NULL,
	[status] [varchar](20) NOT NULL,
	[payment_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[book_id] [int] NULL,
	[reservation_date] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelves]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelves](
	[shelf_id] [int] IDENTITY(1,1) NOT NULL,
	[shelf_name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[shelf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[staff_type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Account_Roles]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Account_Roles](
	[staff_account_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Accounts]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[action_type] [varchar](100) NOT NULL,
	[ip_address] [varchar](50) NULL,
	[user_agent] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [nvarchar](max) NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NULL,
	[borrow_id] [int] NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_date] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
	[status] [varchar](50) NULL,
	[avatar] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 7/17/2026 7:43:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([author_id], [author_name]) VALUES (1, N'Nam Cao')
INSERT [dbo].[Authors] ([author_id], [author_name]) VALUES (2, N'Robert C. Martin')
INSERT [dbo].[Authors] ([author_id], [author_name]) VALUES (3, N'Yuval Noah Harari')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAcquisitionRequests] ON 

INSERT [dbo].[BookAcquisitionRequests] ([request_id], [member_id], [title], [created_date], [author], [decision_note], [processed_date], [publication_year], [publisher], [reference_url], [request_reason], [status], [isbn]) VALUES (1, 13, N'Ngồi khóc trên cây', CAST(N'2026-06-28T18:52:49.760' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, N'Không có lý do', N'PENDING', NULL)
INSERT [dbo].[BookAcquisitionRequests] ([request_id], [member_id], [title], [created_date], [author], [decision_note], [processed_date], [publication_year], [publisher], [reference_url], [request_reason], [status], [isbn]) VALUES (2, 13, N'Cô gái đến từ hôm qua', CAST(N'2026-06-28T19:00:58.883' AS DateTime), N'Nguyễn Nhật Ánh', NULL, NULL, NULL, NULL, NULL, N'Không có lý do', N'PENDING', NULL)
SET IDENTITY_INSERT [dbo].[BookAcquisitionRequests] OFF
GO
INSERT [dbo].[BookAuthors] ([book_id], [author_id]) VALUES (1, 1)
INSERT [dbo].[BookAuthors] ([book_id], [author_id]) VALUES (2, 2)
INSERT [dbo].[BookAuthors] ([book_id], [author_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[BookItems] ON 

INSERT [dbo].[BookItems] ([book_item_id], [book_id], [shelf_id], [barcode], [status], [book_condition], [damage_note]) VALUES (1, 1, 1, N'BC001-001', N'Borrowed', NULL, NULL)
INSERT [dbo].[BookItems] ([book_item_id], [book_id], [shelf_id], [barcode], [status], [book_condition], [damage_note]) VALUES (2, 1, 1, N'BC001-002', N'Borrowed', NULL, NULL)
INSERT [dbo].[BookItems] ([book_item_id], [book_id], [shelf_id], [barcode], [status], [book_condition], [damage_note]) VALUES (3, 2, 3, N'BC002-001', N'Borrowed', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BookItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [genre_id], [title], [isbn], [description], [status], [cover_image_url]) VALUES (1, 1, N'Chí Phèo', N'9786040100003', N'Truyện ngắn kinh điển Việt Nam.', N'Disposed', N'https://res.cloudinary.com/m7dcz22q/image/upload/v1784019291/nvqv4zpe1laznrrz5mwv.webp')
INSERT [dbo].[Books] ([book_id], [genre_id], [title], [isbn], [description], [status], [cover_image_url]) VALUES (2, 3, N'Clean Code', N'9786040100014', N'Sách gối đầu giường của lập trình viên.', N'Active', NULL)
INSERT [dbo].[Books] ([book_id], [genre_id], [title], [isbn], [description], [status], [cover_image_url]) VALUES (3, 5, N'Sapiens: Lược Sử Loài Người', N'9786040100010', N'Lịch sử tiến hóa nhân loại.', N'Active', NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowDetails] ON 

INSERT [dbo].[BorrowDetails] ([borrow_detail_id], [borrow_id], [book_id], [book_item_id], [due_date], [return_date], [renew_count], [status], [condition_note]) VALUES (1, 1, 1, 2, CAST(N'2026-07-05T20:01:08.297' AS DateTime), CAST(N'2026-07-14T15:30:58.980' AS DateTime), 1, N'Returned', N'Mất hoặc Hư hỏng nặng - Rách trang lớn, mất trang, ướt hỏng')
INSERT [dbo].[BorrowDetails] ([borrow_detail_id], [borrow_id], [book_id], [book_item_id], [due_date], [return_date], [renew_count], [status], [condition_note]) VALUES (2, 2, 3, 6, CAST(N'2026-06-18T20:01:08.297' AS DateTime), CAST(N'2026-07-14T15:31:42.507' AS DateTime), 0, N'Returned', N'Tốt - Sách nguyên vẹn, sạch đẹp')
INSERT [dbo].[BorrowDetails] ([borrow_detail_id], [borrow_id], [book_id], [book_item_id], [due_date], [return_date], [renew_count], [status], [condition_note]) VALUES (3, 3, 7, 15, CAST(N'2026-07-03T20:01:08.297' AS DateTime), CAST(N'2026-07-14T16:23:38.747' AS DateTime), 0, N'Returned', N'Tốt - Sách nguyên vẹn, sạch đẹp')
SET IDENTITY_INSERT [dbo].[BorrowDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrows] ON 

INSERT [dbo].[Borrows] ([borrow_id], [member_id], [staff_id], [borrow_date], [status]) VALUES (1, 1, 2, CAST(N'2026-06-14T20:01:08.297' AS DateTime), N'Returned')
INSERT [dbo].[Borrows] ([borrow_id], [member_id], [staff_id], [borrow_date], [status]) VALUES (2, 3, 3, CAST(N'2026-06-04T20:01:08.297' AS DateTime), N'Returned')
INSERT [dbo].[Borrows] ([borrow_id], [member_id], [staff_id], [borrow_date], [status]) VALUES (3, 5, 2, CAST(N'2026-06-19T20:01:08.297' AS DateTime), N'Returned')
SET IDENTITY_INSERT [dbo].[Borrows] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (1, N'Văn học')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (2, N'Khoa học - Công nghệ')
INSERT [dbo].[Categories] ([category_id], [category_name]) VALUES (3, N'Lịch sử - Địa lý')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Favorites] ([member_id], [book_id]) VALUES (1, 2)
INSERT [dbo].[Favorites] ([member_id], [book_id]) VALUES (1, 4)
INSERT [dbo].[Favorites] ([member_id], [book_id]) VALUES (1, 7)
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([feedback_id], [member_id], [book_id], [rating], [comment], [created_date], [status], [librarian_response], [response_date]) VALUES (1, 1, 1, 5, N'Tác phẩm kinh điển, rất ý nghĩa.', CAST(N'2026-06-19T20:01:08.300' AS DateTime), N'APPROVED', NULL, NULL)
INSERT [dbo].[Feedbacks] ([feedback_id], [member_id], [book_id], [rating], [comment], [created_date], [status], [librarian_response], [response_date]) VALUES (2, 2, 5, 5, N'Đọc xong thấy bản thân thay đổi nhiều.', CAST(N'2026-06-22T20:01:08.300' AS DateTime), N'APPROVED', NULL, NULL)
INSERT [dbo].[Feedbacks] ([feedback_id], [member_id], [book_id], [rating], [comment], [created_date], [status], [librarian_response], [response_date]) VALUES (3, 4, 2, 4, N'Khá hay nhưng hơi khó đọc cho người mới.', CAST(N'2026-06-23T20:01:08.300' AS DateTime), N'APPROVED', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([genre_id], [category_id], [genre_name]) VALUES (1, 1, N'Tiểu thuyết văn học')
INSERT [dbo].[Genres] ([genre_id], [category_id], [genre_name]) VALUES (2, 1, N'Truyện ngắn')
INSERT [dbo].[Genres] ([genre_id], [category_id], [genre_name]) VALUES (3, 2, N'Công nghệ thông tin')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[Member_Account_Roles] ([member_account_id], [role_id]) VALUES (1, 3)
INSERT [dbo].[Member_Account_Roles] ([member_account_id], [role_id]) VALUES (2, 3)
INSERT [dbo].[Member_Account_Roles] ([member_account_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Member_Accounts] ON 

INSERT [dbo].[Member_Accounts] ([id], [member_id], [username], [password_hash], [status]) VALUES (1, 1, N'member01', N'$2a$10$ms3v5xqzpJCLxKyzQVPLjuYA3b6jIKMnY8SsnfKlJsSJPMN7A3ve', N'Active')
INSERT [dbo].[Member_Accounts] ([id], [member_id], [username], [password_hash], [status]) VALUES (2, 2, N'member02', N'$2a$10$ms3v5xqzpJCLxKyzQVPLjuYA3b6jIKMnY8SsnfKlJsSJPMN7A3ve', N'Active')
INSERT [dbo].[Member_Accounts] ([id], [member_id], [username], [password_hash], [status]) VALUES (3, 3, N'member03', N'$2a$10$ms3v5xqzpJCLxKyzQVPLjuYA3b6jIKMnY8SsnfKlJsSJPMN7A3ve', N'Active')
SET IDENTITY_INSERT [dbo].[Member_Accounts] OFF
GO
INSERT [dbo].[MemberNotifications] ([member_id], [notification_id], [is_read], [read_date]) VALUES (1, 2, 0, NULL)
INSERT [dbo].[MemberNotifications] ([member_id], [notification_id], [is_read], [read_date]) VALUES (1, 3, 0, NULL)
INSERT [dbo].[MemberNotifications] ([member_id], [notification_id], [is_read], [read_date]) VALUES (1, 12, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([member_id], [user_id], [tier_id]) VALUES (1, 4, 1)
INSERT [dbo].[Members] ([member_id], [user_id], [tier_id]) VALUES (2, 5, 1)
INSERT [dbo].[Members] ([member_id], [user_id], [tier_id]) VALUES (3, 6, 2)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipTiers] ON 

INSERT [dbo].[MembershipTiers] ([tier_id], [tier_name], [discount_percent], [borrow_limit], [condition], [benefits]) VALUES (1, N'Regular', CAST(0.00 AS Decimal(5, 2)), 3, NULL, N'Mượn tối đa 3 sách')
INSERT [dbo].[MembershipTiers] ([tier_id], [tier_name], [discount_percent], [borrow_limit], [condition], [benefits]) VALUES (2, N'Silver', CAST(10.00 AS Decimal(5, 2)), 5, CAST(500000.00 AS Decimal(18, 2)), N'Giảm 10% phí mượn, mượn tối đa 5 sách')
INSERT [dbo].[MembershipTiers] ([tier_id], [tier_name], [discount_percent], [borrow_limit], [condition], [benefits]) VALUES (3, N'Gold', CAST(20.00 AS Decimal(5, 2)), 10, CAST(1000000.00 AS Decimal(18, 2)), N'Giảm 20% phí mượn, mượn tối đa 10 sách')
SET IDENTITY_INSERT [dbo].[MembershipTiers] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [staff_id], [title], [content], [created_date], [status], [notification_type]) VALUES (2, NULL, N'Test Thông báo', N'thông báo tới toàn member', CAST(N'2026-06-27T21:15:04.470' AS DateTime), N'Active', N'GENERAL')
INSERT [dbo].[Notifications] ([notification_id], [staff_id], [title], [content], [created_date], [status], [notification_type]) VALUES (3, NULL, N'abc', N'123', CAST(N'2026-06-27T21:33:16.973' AS DateTime), N'Active', N'GENERAL')
INSERT [dbo].[Notifications] ([notification_id], [staff_id], [title], [content], [created_date], [status], [notification_type]) VALUES (8, NULL, N'Phản hồi đánh giá', N'Thủ thư đã phản hồi đánh giá của bạn cho sách ''21 Bài Học Cho Thế Kỷ 21''.', CAST(N'2026-06-28T17:47:04.453' AS DateTime), N'Active', N'GENERAL')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([reset_token_id], [token], [user_id], [expiry_date]) VALUES (1, N'a608ceb6-c42b-47b1-9b9f-ef9e4c6cc708', 20, CAST(N'2026-07-03T13:11:11.6583185' AS DateTime2))
INSERT [dbo].[PasswordResetTokens] ([reset_token_id], [token], [user_id], [expiry_date]) VALUES (2, N'734b9a16-a440-4885-a3a4-0e5c7704637d', 23, CAST(N'2026-07-14T04:52:39.8822292' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[PayOSPaymentAuditLogs] ON 

INSERT [dbo].[PayOSPaymentAuditLogs] ([audit_id], [created_at], [event_type], [message], [new_status], [old_status], [source], [successful], [actor_user_id], [payment_id]) VALUES (1, CAST(N'2026-07-17T01:35:14.1147570' AS DateTime2), N'PAYMENT_CREATED', N'Đã tạo yêu cầu thanh toán BORROW_FEE.', N'PENDING', NULL, N'APPLICATION', 1, 2, 8)
INSERT [dbo].[PayOSPaymentAuditLogs] ([audit_id], [created_at], [event_type], [message], [new_status], [old_status], [source], [successful], [actor_user_id], [payment_id]) VALUES (2, CAST(N'2026-07-17T01:40:27.6494320' AS DateTime2), N'STATUS_CHANGED', N'Đồng bộ trạng thái thanh toán từ cổng PayOS.', N'EXPIRED', N'PENDING', N'RECONCILIATION', 1, NULL, 8)
INSERT [dbo].[PayOSPaymentAuditLogs] ([audit_id], [created_at], [event_type], [message], [new_status], [old_status], [source], [successful], [actor_user_id], [payment_id]) VALUES (3, CAST(N'2026-07-17T03:59:52.8898210' AS DateTime2), N'RECONCILIATION_FAILED', N'Không thể lấy trạng thái từ cổng thanh toán: error code: 502
', N'EXPIRED', N'EXPIRED', N'SCHEDULED_JOB', 0, NULL, 2)
SET IDENTITY_INSERT [dbo].[PayOSPaymentAuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[PayOSPaymentFineItems] ON 

INSERT [dbo].[PayOSPaymentFineItems] ([item_id], [payment_id], [fine_transaction_id], [amount_snapshot]) VALUES (1, 2, 19, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PayOSPaymentFineItems] OFF
GO
SET IDENTITY_INSERT [dbo].[PayOSPayments] ON 

SET IDENTITY_INSERT [dbo].[PayOSPayments] OFF
GO
SET IDENTITY_INSERT [dbo].[PayOSReconciliationIssues] ON 

INSERT [dbo].[PayOSReconciliationIssues] ([issue_id], [attempt_count], [error_message], [first_seen_at], [last_attempt_at], [resolved_at], [status], [payment_id]) VALUES (1, 1, N'Không thể lấy trạng thái từ cổng thanh toán: error code: 502
', CAST(N'2026-07-17T03:59:52.8579330' AS DateTime2), CAST(N'2026-07-17T03:59:52.8579330' AS DateTime2), CAST(N'2026-07-17T04:00:26.5696610' AS DateTime2), N'RESOLVED', 2)
SET IDENTITY_INSERT [dbo].[PayOSReconciliationIssues] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([reservation_id], [member_id], [book_id], [reservation_date], [status]) VALUES (1, 20, 13, CAST(N'2026-07-07T15:50:37.707' AS DateTime), N'Canceled')
INSERT [dbo].[Reservations] ([reservation_id], [member_id], [book_id], [reservation_date], [status]) VALUES (2, 20, 13, CAST(N'2026-07-09T19:32:03.027' AS DateTime), N'Canceled')
INSERT [dbo].[Reservations] ([reservation_id], [member_id], [book_id], [reservation_date], [status]) VALUES (3, 20, 13, CAST(N'2026-07-10T20:18:21.440' AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [name]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([role_id], [name]) VALUES (2, N'LIBRARIAN')
INSERT [dbo].[Roles] ([role_id], [name]) VALUES (3, N'MEMBER')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Shelves] ON 

INSERT [dbo].[Shelves] ([shelf_id], [shelf_name], [location]) VALUES (1, N'Kệ A1 - Văn học VN', N'Tầng 1 - Khu A')
INSERT [dbo].[Shelves] ([shelf_id], [shelf_name], [location]) VALUES (2, N'Kệ A2 - Văn học NN', N'Tầng 1 - Khu A')
INSERT [dbo].[Shelves] ([shelf_id], [shelf_name], [location]) VALUES (3, N'Kệ B1 - IT', N'Tầng 2 - Khu B')
SET IDENTITY_INSERT [dbo].[Shelves] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [user_id], [staff_type]) VALUES (1, 1, N'Admin')
INSERT [dbo].[Staff] ([staff_id], [user_id], [staff_type]) VALUES (2, 2, N'Librarian')
INSERT [dbo].[Staff] ([staff_id], [user_id], [staff_type]) VALUES (3, 3, N'Librarian')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
INSERT [dbo].[Staff_Account_Roles] ([staff_account_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[Staff_Account_Roles] ([staff_account_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[Staff_Account_Roles] ([staff_account_id], [role_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Staff_Accounts] ON 

INSERT [dbo].[Staff_Accounts] ([id], [staff_id], [username], [password_hash], [status]) VALUES (1, 1, N'admin', N'$2a$10$ms3v5xqzpJCLxKyzQVPLjuYA3b6jIKMnY8SsnfKlJsSJPMN7A3ve.', N'Active')
INSERT [dbo].[Staff_Accounts] ([id], [staff_id], [username], [password_hash], [status]) VALUES (2, 2, N'librarian01', N'$2a$10$9UHpEclxTLiZBFVmqn.Aoeyd596wUFX6kmrx9NWuqAk6lOfuzqnxK', N'Active')
INSERT [dbo].[Staff_Accounts] ([id], [staff_id], [username], [password_hash], [status]) VALUES (3, 3, N'librarian02', N'$2a$10$ms3v5xqzpJCLxKyzQVPLjuYA3b6jIKMnY8SsnfKlJsSJPMN7A3ve', N'Active')
SET IDENTITY_INSERT [dbo].[Staff_Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([log_id], [action_type], [ip_address], [user_agent], [description], [created_at], [user_id]) VALUES (1, N'LOGIN', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', N'Đăng nhập thành công. Session ID: 5D0E0E199EE2C20E8F7546CD549961E8', CAST(N'2026-06-30T16:06:39.070' AS DateTime), 19)
INSERT [dbo].[SystemLogs] ([log_id], [action_type], [ip_address], [user_agent], [description], [created_at], [user_id]) VALUES (2, N'LOGOUT', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', N'Đăng xuất thành công. Session ID: 01C89BC503E9CE169B12DF04F3C8D1DE', CAST(N'2026-06-30T16:08:16.140' AS DateTime), 19)
INSERT [dbo].[SystemLogs] ([log_id], [action_type], [ip_address], [user_agent], [description], [created_at], [user_id]) VALUES (3, N'LOGIN', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36', N'Đăng nhập thành công. Session ID: 01C89BC503E9CE169B12DF04F3C8D1DE', CAST(N'2026-06-30T16:08:56.320' AS DateTime), 19)
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([setting_id], [setting_key], [setting_value], [description]) VALUES (1, N'Fine_Per_Day', N'5000', N'Phí phạt trễ hạn tính theo ngày (VND)')
INSERT [dbo].[SystemSettings] ([setting_id], [setting_key], [setting_value], [description]) VALUES (2, N'Max_Borrow_Days', N'14', N'Số ngày mượn sách tối đa tiêu chuẩn')
INSERT [dbo].[SystemSettings] ([setting_id], [setting_key], [setting_value], [description]) VALUES (3, N'Deposit_Amount', N'50000', N'Tiền cọc đặt trước một quyển sách (VND)')
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([transaction_id], [wallet_id], [borrow_id], [transaction_type], [amount], [transaction_date], [status]) VALUES (1, 1, NULL, N'TOP_UP', CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-06-09T20:01:08.297' AS DateTime), N'Completed')
INSERT [dbo].[Transactions] ([transaction_id], [wallet_id], [borrow_id], [transaction_type], [amount], [transaction_date], [status]) VALUES (2, 1, 1, N'BORROW_FEE', CAST(-5000.00 AS Decimal(18, 2)), CAST(N'2026-06-14T20:01:08.297' AS DateTime), N'Completed')
INSERT [dbo].[Transactions] ([transaction_id], [wallet_id], [borrow_id], [transaction_type], [amount], [transaction_date], [status]) VALUES (3, 3, NULL, N'TOP_UP', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-05-25T20:01:08.297' AS DateTime), N'Completed')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [status], [avatar]) VALUES (1, N'Admin Tổng', N'admin@library.vn', N'0901000001', N'Active', N'https://res.cloudinary.com/m7dcz22q/image/upload/v1784243110/m6yfnfmirbjmkrsn3sze.jpg')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [status], [avatar]) VALUES (2, N'Nguyễn Thị Lan', N'lib01@library.vn', N'', N'Active', N'https://res.cloudinary.com/m7dcz22q/image/upload/v1784226314/dqujqss2qschux1ioo9p.jpg')
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [status], [avatar]) VALUES (3, N'Trần Văn Minh', N'lib02@library.vn', N'0902000002', N'Active', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([wallet_id], [member_id], [balance]) VALUES (1, 1, CAST(310000.00 AS Decimal(18, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [member_id], [balance]) VALUES (2, 2, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [member_id], [balance]) VALUES (3, 3, CAST(175000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookItem__C16E36F8DB5BA66E]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[BookItems] ADD UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__99F9D0A49C0C54B0]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Member_A__F3DBC572909D631B]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[Member_Accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__CA90DA7A25997BD4]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[PasswordResetTokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_payos_fine_item_payment]    Script Date: 7/17/2026 7:43:52 AM ******/
CREATE NONCLUSTERED INDEX [ix_payos_fine_item_payment] ON [dbo].[PayOSPaymentFineItems]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uk_payos_payment_order_code]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[PayOSPayments] ADD  CONSTRAINT [uk_payos_payment_order_code] UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_payos_payment_member_created]    Script Date: 7/17/2026 7:43:52 AM ******/
CREATE NONCLUSTERED INDEX [ix_payos_payment_member_created] ON [dbo].[PayOSPayments]
(
	[member_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_payos_payment_reference]    Script Date: 7/17/2026 7:43:52 AM ******/
CREATE NONCLUSTERED INDEX [ix_payos_payment_reference] ON [dbo].[PayOSPayments]
(
	[purpose] ASC,
	[reference_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1B870ABF9B]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff_Ac__F3DBC572947AE64A]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[Staff_Accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemSe__0DFAC427C29051CE]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[SystemSettings] ADD UNIQUE NONCLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164E3191832]    Script Date: 7/17/2026 7:43:52 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookAcquisitionRequests] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[BookDisposals] ADD  DEFAULT (getdate()) FOR [disposal_date]
GO
ALTER TABLE [dbo].[BookDisposals] ADD  DEFAULT ('Completed') FOR [status]
GO
ALTER TABLE [dbo].[BookItems] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[BorrowDetails] ADD  DEFAULT ((0)) FOR [renew_count]
GO
ALTER TABLE [dbo].[BorrowDetails] ADD  DEFAULT ('Borrowed') FOR [status]
GO
ALTER TABLE [dbo].[Borrows] ADD  DEFAULT (getdate()) FOR [borrow_date]
GO
ALTER TABLE [dbo].[Borrows] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Member_Accounts] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[MemberNotifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[MembershipTiers] ADD  DEFAULT ((0)) FOR [discount_percent]
GO
ALTER TABLE [dbo].[MembershipTiers] ADD  DEFAULT ((5)) FOR [borrow_limit]
GO
ALTER TABLE [dbo].[MembershipTiers] ADD  DEFAULT ((0)) FOR [condition]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [reservation_date]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Staff_Accounts] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[SystemLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[BookAcquisitionRequests]  WITH CHECK ADD  CONSTRAINT [FK_BookAcquisitionRequests_Member] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[BookAcquisitionRequests] CHECK CONSTRAINT [FK_BookAcquisitionRequests_Member]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[Authors] ([author_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookDisposals]  WITH CHECK ADD FOREIGN KEY([book_item_id])
REFERENCES [dbo].[BookItems] ([book_item_id])
GO
ALTER TABLE [dbo].[BookDisposals]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[BookItems]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookItems]  WITH CHECK ADD FOREIGN KEY([shelf_id])
REFERENCES [dbo].[Shelves] ([shelf_id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([genre_id])
GO
ALTER TABLE [dbo].[BorrowDetails]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[BorrowDetails]  WITH CHECK ADD FOREIGN KEY([book_item_id])
REFERENCES [dbo].[BookItems] ([book_item_id])
GO
ALTER TABLE [dbo].[BorrowDetails]  WITH CHECK ADD FOREIGN KEY([borrow_id])
REFERENCES [dbo].[Borrows] ([borrow_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Borrows]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[Borrows]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Genres]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Member_Account_Roles]  WITH CHECK ADD FOREIGN KEY([member_account_id])
REFERENCES [dbo].[Member_Accounts] ([id])
GO
ALTER TABLE [dbo].[Member_Account_Roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Member_Accounts]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[MemberNotifications]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberNotifications]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[Notifications] ([notification_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([tier_id])
REFERENCES [dbo].[MembershipTiers] ([tier_id])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetTokens_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PasswordResetTokens_Users]
GO
ALTER TABLE [dbo].[PayOSPaymentAuditLogs]  WITH CHECK ADD  CONSTRAINT [FK41s2p63fad08tc53w0ojr7raw] FOREIGN KEY([actor_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[PayOSPaymentAuditLogs] CHECK CONSTRAINT [FK41s2p63fad08tc53w0ojr7raw]
GO
ALTER TABLE [dbo].[PayOSPaymentAuditLogs]  WITH CHECK ADD  CONSTRAINT [FK43af3cfju4tv523cfklnaqhe7] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PayOSPayments] ([payment_id])
GO
ALTER TABLE [dbo].[PayOSPaymentAuditLogs] CHECK CONSTRAINT [FK43af3cfju4tv523cfklnaqhe7]
GO
ALTER TABLE [dbo].[PayOSPaymentFineItems]  WITH CHECK ADD  CONSTRAINT [fk_payos_fine_item_payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PayOSPayments] ([payment_id])
GO
ALTER TABLE [dbo].[PayOSPaymentFineItems] CHECK CONSTRAINT [fk_payos_fine_item_payment]
GO
ALTER TABLE [dbo].[PayOSPaymentFineItems]  WITH CHECK ADD  CONSTRAINT [fk_payos_fine_item_transaction] FOREIGN KEY([fine_transaction_id])
REFERENCES [dbo].[Transactions] ([transaction_id])
GO
ALTER TABLE [dbo].[PayOSPaymentFineItems] CHECK CONSTRAINT [fk_payos_fine_item_transaction]
GO
ALTER TABLE [dbo].[PayOSPayments]  WITH CHECK ADD  CONSTRAINT [fk_payos_payment_member] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[PayOSPayments] CHECK CONSTRAINT [fk_payos_payment_member]
GO
ALTER TABLE [dbo].[PayOSPayments]  WITH CHECK ADD  CONSTRAINT [fk_payos_payment_transaction] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transactions] ([transaction_id])
GO
ALTER TABLE [dbo].[PayOSPayments] CHECK CONSTRAINT [fk_payos_payment_transaction]
GO
ALTER TABLE [dbo].[PayOSReconciliationIssues]  WITH CHECK ADD  CONSTRAINT [FK656qmxpw3e2ea0phb03bjb6hk] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PayOSPayments] ([payment_id])
GO
ALTER TABLE [dbo].[PayOSReconciliationIssues] CHECK CONSTRAINT [FK656qmxpw3e2ea0phb03bjb6hk]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff_Account_Roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Staff_Account_Roles]  WITH CHECK ADD FOREIGN KEY([staff_account_id])
REFERENCES [dbo].[Staff_Accounts] ([id])
GO
ALTER TABLE [dbo].[Staff_Accounts]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[SystemLogs]  WITH CHECK ADD  CONSTRAINT [FK_SystemLogs_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[SystemLogs] CHECK CONSTRAINT [FK_SystemLogs_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([borrow_id])
REFERENCES [dbo].[Borrows] ([borrow_id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([wallet_id])
REFERENCES [dbo].[Wallets] ([wallet_id])
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
