/* Presentation owner for templates/admin/membership-tiers.html */

.admin-membership-tiers-col-width-06 {
    width: 13%;
}

.admin-membership-tiers-col-width-07 {
    width: 32%;
}

.admin-membership-tiers-span-background-10 {
    background-color: #587442;
}
