/* Presentation owner for templates/admin/report-console.html */

.admin-report-console-div-width-05 {
    width: 72px;
}

.admin-report-console-div-height-06 {
    height: 10px;
}

.admin-report-console-div-width-07 {
    width: 48px;
}
